.comment.clearfix
	.content
		%p.comment_content= comment.comment
		%p.comment_author= comment.user.email.split('@')[0]
	.buttons
		- if current_user!= nil
			- if comment.user.email ==  current_user.email
				= link_to "Editar", edit_post_comment_path(comment.post, comment)
				= link_to "Deletar", [comment.post, comment], method: :delete, data: { confirm: "Tem certeza?" }
			