#posts
	- @posts.each do |post|
		.post
			%h2.title= link_to post.title, post
			%p.date
				Publicado Há
				= t(time_ago_in_words(post.created_at))
				por
				= post.user.email.split('@')[0]
				
