#post_content 
	%h1= @post.title
	%h2= @post.category
	%p= @post.content

	#comments
		%h3
			Publicacao feita por:
		%h4 
			= @post.user.email.split('@')[0]
			<br>
			<br>
		%h2
			= @post.comments.count
		
			Comentarios
		= render @post.comments
		
		= render "comments/form"
	%br/
	%hr/
	%br/	
	- if current_user!= nil
		-if @post.user_id == current_user.id
			= link_to "Editar", edit_post_path(@post), class: "button"
			= link_to "Deletar", post_path(@post), method: :delete, data: { confirm: "Tem certeza que quer deletar a postagem ?" }, class: "button"
