/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Lato', sans-serif;
	background-image: url("back.jpeg")
}
 
.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background: rgb(248, 249, 250);
	#logo {
		float: left;
		a {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 1.2rem;
			text-decoration: none;
			color: rgb(0, 0, 0);
		}
	}
	#buttons {
		float: right;
		a {
			line-height: 60px;
			background: rgb(0, 0, 0);
			padding: .5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
		}
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

.button {
	color: #397CAC;
	border: 1px solid #397CAC;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none; 
	margin-right: 2%;
}

#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: rgb(0, 0, 0);
		margin-top: 0;
	}
	p {
		color: rgb(0, 0, 0);
		font-size: 0.9em;
		line-height: 1.5;
		font-size: 100;
	}
	#comments {
		.comment {
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.content {
			width: 75%;
			float: left;
			}
			.buttons {
				width: 25%;
				float: left;
				font-size: 0.8em;
				text-align: right;
				padding-top: 1.5em;
				 a {
					color: rgb(112, 120, 126);
					border: 1px solid #397CAC;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none; 
					margin-right: 2%;
				 }
			}
			.comment_content {
				margin: 0;
				padding: 0;
			}
			.comment_author {
				color: rgb(0, 0, 0);
				margin-top: 0.5rem; 
				font-size: 0.6rem;
				font-weight: 700;
			}
		}
		input[type="submit"] {
			background: rgb(0, 0, 0);
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
	}
}

