!!!
%html 
%head
  %title CineForum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
  %link{ rel: "stylesheet", href: "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" }
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %header.main_header.clearfix
    .wrapper
      #logo 
        %p= link_to "CineForum", root_path
        %p= link_to image_tag("logo.png"), root_path
      #buttons
        - if user_signed_in? 
          = link_to "Nova Postagem", new_post_path
          = link_to "Sair", destroy_user_session_path, method: :delete, class:"navbar-item"
          -if current_user!= nil && current_user.email == "admin@admin"
            = link_to "Administracao", '/admin', as: 'rails_admin', class:"navbar-item"
        - else
          = link_to "Registrar", new_user_registration_path
          = link_to "Entrar", new_user_session_path

  .wrapper    
    %p.notice= notice
    %p.alert= alert

  .wrapper  
    = yield
